.header{
  display: flex;
  margin: 10px;
  border: solid 1px black;
  justify-content: space-between;
  padding: 10px;
}

.header > img {
  width: 70px;
}

.header > ul{
  list-style: none;
  display: flex;
  width: 50%;
}

.header > ul > li {
  margin-left: 50px;
}